
* {
  margin: 0;
  padding: 0;
}

/***************     HEADER     ***************/

header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    top: 0;
    left: 0;
    float: left;
}
#logo {
    width: 120px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;

}
#logoo {
    width: 100%;
}
#mes_photos {
    float: left;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 80px;
    color: white;
}
#mes_photos:hover {
    color: #FF4500;
}
#accueil {
    float: left;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;
}
#accueil:hover {
    color: #FF4500;
}
#form_profil {
    float: right;
    width: 550px;
}

#formulaire {
    float: left;
    margin-top: 25px;
    margin-left: 50px;
}
.recherche {
    height: 20px;
    width: 210px;
}
.loupe {
    background-image: url("../images/recherche.png");
    width: 27px;
    height: 27px;
}

.conversion {
    float: left;
    color: white;
    background-color: rgba(255,255,255,0.2);
    font-size: 17px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    border: solid 1px black;
    font-weight: bold;
}
.conversion:active {
    background-color: white;
    color: red;
    box-shadow: -1px 2px 20px 3px rgba(0, 0, 0, 0.3) inset;
}
#profil {
    float: right;
}
#texte_profil {
    margin-top: 15px;
    float: left;    
}
#photo_profil {
    float: left;
}
header ul {
    list-style: none;
    padding: 0;
    float: left;
}

header ul li {
    width: 60px;
    color: white;
}
#photo_profil {
    float: left;
    width: 80px;
    margin-top: 10px;
    margin-right: 10px;
}

/************ BODY *************************/

body{
 background-image: url("../images/background_accueil.jpg");
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#bouton_accueil {
    position: relative;
    width: 7%;
    height : 25%;
   
    left : 10%;
    text-align: center;
    cursor : pointer;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:20px;
	font-weight:bold;
	text-decoration:none;
    margin-top: 2%;
    border : 5px solid ;
    
}

#barre_sup {
    position : relative;
    height : 10%;
    background-color: rgba(140,204,202,0.2);       
}

#bouton_photos {
    position: relative;
    width: 7%;
    height : 25%;
    
    left : 15%;
    text-align: center;
  
     cursor : pointer;
    cursor : pointer;
  	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:20px;
	font-weight:bold;
	text-decoration:none;
    
}

#barre_recherche {
    position: relative;
    bottom: 40%;
    width : 15%;
    height : 35%;
    left : 45%;
    text-align: center;
    
}

#corps_page {
    position: relative;
    height : 80%;
    
}

#bloc_principal {
   position :relative;
    width : 60%;
    height : 80%;
    top : 15%;
    left : 20%;
   
    
}

#table_presentation {
    position: relative;
    display: table;
    height : 80%;
    width: 100%;
    table-layout: fixed;
}

.table_row {
    position : relative; 
    display: table-row;
    
}

.table_cell {
     position : relative; 
    display: table-cell;
    border : 2px solid white;
    
    
       
}

#fleche_haut {
    position : relative;
    height : 10%;
    text-align: center;
    font-size : 300%;
    cursor: pointer;
    color : white;
   
    background-color: rgba(140,204,202,0.2);
}

#fleche_bas {
    position : relative;
    cursor : pointer;
    height : 10%;
    text-align: center;
    font-size : 300%;
    
    color : white;
    
    background-color: rgba(140,204,202,0.2);
    
    
}

#formulaire_recherche {
    position : relative;
    top : 30%;
}

#nom-prenom_photo {
    position : relative ;
    width : 20%;
    left : 75%;
    height : 80%;
    bottom : 90%;
    
    
    
}

#Prenom {
    position: relative;
    width : 30%;
    height : 20%;
    top : 30%;
    color: white;
}

#Nom {
    position: relative;
    width : 30%;
    height : 20%;
    top : 37%;
    color : white;
    
}

#photo {
    position: relative;
    width : 20%;
    height : 70%;
    left : 50%;
    bottom : 45%;
     cursor : pointer;
}

#image_profil {
    position: relative;


    
}

#footer {
    position : absolute;
    bottom : 0;
    height : 10%;
    width : 100%;
    text-align: center;
    font-size: 150%;
    color : white;
      background-color: rgba(140,204,202,0.2);
   
    
}

#img1_1 {
    position : relative;
max-height : 100%;
    max-width : 100%;
    cursor : pointer;
        
}

#img1_2 {
    position : relative;

    max-height : 100%;
    max-width : 100%;
    cursor : pointer;
}

#img1_3 {
    position : relative;
  max-height : 100%;
    max-width : 100%;
    cursor : pointer;
}

#img2_1 {
       position : relative;
    max-height : 100%;
    max-width : 100%;
    cursor : pointer;
}

#img2_2 {
    position : relative;
    max-height : 100%;
    max-width : 100%;
    cursor : pointer;
}

#img2_3 {
    position : relative;
   max-height : 100%;
    max-width : 100%;
    cursor : pointer;
}



#bouton_submit {
    
      text-align: center;
    cursor : pointer;
    background-color:#3d94f6;
    border : none;
    background-color: rgba(140,204,202,0.2);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:20px;
	font-weight:bold;
	text-decoration:none;
}

#photo_infos {
    position : absolute;
    width : 90%;
    height : 90%;
    top : 5%;
    left : 5%;
    display: none;
   
    outline: 999em solid rgba(0,0,0,.6);
    background-color: rgba(0, 0, 0, 0.9);
   
    
     
}

#table_infos {
    position: relative;
    display: table;
    table-layout: fixed;
     width: 100%;
    height : 100%;
   
    
}





#image_avec_infos {
    position: relative;
    max-width : 100%;
    max-height: 100%;

    
}

#description_photo {
        background-color: black;
    position: absolute;
    height: 100%;
    width : 100%;
   display: block;
    
}

#exif_photo {
    background-color: black;
    position : absolute;
    height: 100%;
    width : 100%;
display : none;
}

#table_infos_exif {
      position: relative;
    display: table;
    table-layout: fixed;
     width: 80%;
    height : 90%;
    left : 10%;
    color : white;
}

.onglets {
    position: relative;
    height : 10%;
    display : table;
    width : 100%;
    table-layout: fixed;
}

#cell_description {
     position : relative; 
    display: table-cell;
    border : 2px solid white;
    color: white;
    text-align: center;
    font-size: 300%;
   
    background-color: grey;
   
    
    
}

#cell_exif {
    position : relative; 
    display: table-cell;
    border : 2px solid white;
    color: white;
    text-align: center;
    font-size: 300%;
    
    background-color: grey;
}

footer {
    
    position: absolute;
    bottom : 0;
    left : 0;
    right: 0;
    text-align: center;

    color: #e3f2f1;
    background-color: rgba(140,204,202,0.2);

}

.link_footer{
    
    text-decoration: none;
}

#img_footer {
    
    height: 40px;
    width: auto;
    
}

.attribut_exif {
    
    text-align: center;
    font-size: 200%;
    text-decoration-color: white; 
}

#cell_exif_unselected {
     position : relative; 
    display: table-cell;
    border : 2px solid white;
    color: white;
    text-align: center;
    font-size: 300%;
    
    cursor: pointer;
}

#cell_description_unselected {
      position : relative; 
    display: table-cell;
    border : 2px solid white;
    color: white;
    text-align: center;
    font-size: 300%;
        cursor: pointer;
}

#texte_description {
    position: relative;
    background-color: white;
    height : 50%;
    width: 70%;
    top : 20%;
    left : 15%;
    font-weight: 300;
    
}

#croix {
    position : fixed;
    font-size: 250%;
    background-color: red;
    text-align: center;
    text-decoration-color: white;
    height : 60px;
    width: 60px;
    left : 96%;
    bottom : 90%;
    cursor: pointer;
}

/***************     FOOTER     ***************/

footer {
    clear: both;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer h3 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #FAF0E6;
}

footer ul {
    padding: 0;
    margin: 0; 
    font-size: 15px;
    list-style: none;
}

footer ul li {
    float: left;
    text-decoration: underline;
    color: #FAF0E6;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 10px;
}
footer ul li:hover {
    color: #FF4500;

}
#youtube {
    margin-left: 400px;
}
footer p {
    clear: both;
    text-align: center;
    color: #FAF0E6;
    margin: 0;
    font-size: 12px;
}
#contact{
    cursor: pointer;
}
