/******************  HTML  *****************/

* {
  margin: 0;
  padding: 0;
}


/******************  BODY  *****************/
.invisible{
    display: none;
}
.visible{
    display: block;
}
body {
    margin-bottom: 0;
    margin-top: 0;
    background-image: url("../images/background_accueil.jpg");
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/******************  PAGE CONTAINER  *****************/

#page_container {
    margin: 0 auto;
}

#presentation {
    color: #e3f2f1;
    background-color: rgba(140,204,202,0.2);

    left: 0;
    right: 0;
    top: 0;

    position: absolute;

}

h1
{
    text-align: center;
    font-size: 48px;
    
}

/******************  FORMULAIRE  *****************/
#errordiv{
    text-align: center;
    margin-bottom: 0;
}

#formulaire_connexion{
    overflow: hidden;
/*    visibility: visible; */
    width: 15%;
    position : relative;

    margin-left: auto;
    padding-left: auto;
    
    padding-right: auto;
    margin-right: auto;
    
    margin-top: 15%;

    padding-bottom: 3%;

/*  position : absolute;
    left : 43.4%; 
    top  : 43.4%;
    width: 13.2%;*/
    
    border-width: 3px;
    border-color: rgba(140,204,202,0.48);
    border-style: outset;
    border-radius: 15px; 
    background-color: rgba(140,204,202,0.48); 
    
}

#formulaire_inscription{
    overflow: hidden;
/*visibility: hidden;*/
    /*display: none;*/
    width: 20%;
    position : relative;
    
    margin-left: auto;
    padding-left: auto;
    
    padding-right: auto;
    margin-right: auto;
   
    margin-top: 10%;

    padding-bottom: 3%;

/*  position : absolute;
    left : 43.4%; 
    top  : 43.4%;
    width: 13.2%;*/
    
    border-width: 3px;

    border-color: rgba(140,204,202,0.48);
    border-style: outset;
    border-radius: 15px; 
    background-color:rgba(140,204,202,0.48); 
    
}

#parchemin {

}
#texte_formulaire {
    float: center;
    width: 15%;
}

#mytable {
    
    position: relative;
    padding-top: 30px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#mytable tr{
    margin-bottom: 15%;
}

#login {
    position: relative;
    top: 10%;
}


#connexion_button{
    
    position: absolute;

    margin-left : 6%; 

    background-color:#3d94f6;
    border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
    
}

#inscription_button{
    
    position: absolute;

    margin-left : 5%; 
    background-color:#3d94f6;
    border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}

#lien_connexion {
    text-decoration: none;
    position: relative;
    top: 15px;
    margin-left : 18%;
}

#lien_inscription {
    text-decoration: none;
    position: relative;
    top: 15px;
    left : 60%;
    
    margin-left : 18%;
}





/***************     FOOTER     ***************/

footer {
    clear: both;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h3 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #FAF0E6;
}

footer ul {
    padding: 0;
    margin: 0; 
    font-size: 15px;
    list-style: none;
}

footer ul li {
    float: left;
    text-decoration: underline;
    color: #FAF0E6;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 10px;
}
footer ul li:hover {
    color: #FF4500;

}
#youtube {
    margin-left: 400px;
}
footer p {
    clear: both;
    text-align: center;
    color: #FAF0E6;
    margin: 0;
    font-size: 12px;
}
#contact{
    cursor: pointer;
}