* {
	margin: 0;
}
a {
	list-style: none;
	text-decoration: none;
}
h3 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px; 
}

/***************      BODY      ***************/

body {

	background-image:url("../images/background_accueil.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#contenu_page {
}

/***************     HEADER     ***************/

header {
	width: 100%;
	height: 100px;
	background-color: rgba(255,255,255,0.2);
	top: 0;
	left: 0;
	float: left;
}
#logo {
	width: 120px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;

}
#logoo {
	width: 100%;
}
#mes_photos {
	float: left;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 80px;
	color: white;
}
#mes_photos:hover {
	color: #FF4500;
}
#accueil {
    float: left;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;
}
#accueil:hover {
	color: #FF4500;
}
#form_profil {
	float: right;
	width: 550px;
}

#formulaire {
	float: left;
	margin-top: 25px;
	margin-left: 50px;
}
.recherche {
	height: 20px;
	width: 210px;
}
.loupe {
	background-image: url("../images/recherche.png");
	width: 27px;
	height: 27px;
}

.conversion {
	float: left;
	color: white;
	background-color: rgba(255,255,255,0.2);
	font-size: 17px;
	margin-top: 20px;
	margin-left: 50px;
	text-align: center;
	border: solid 1px black;
	font-weight: bold;
}
.conversion:active {
	background-color: white;
	color: red;
	box-shadow: -1px 2px 20px 3px rgba(0, 0, 0, 0.3) inset;
}
#profil {
	float: right;
}
#texte_profil {
	margin-top: 15px;
	float: left;	
}
#photo_profil {
	float: left;
}
header ul {
	list-style: none;
	padding: 0;
	float: left;
}

header ul li {
	width: 60px;
	color: white;
}
#photo_profil {
	float: left;
	width: 80px;
	margin-top: 10px;
	margin-right: 10px;
}

/***************     MILIEU     ***************/

#milieu {
	float: left;
	margin-top: 15px;
}

/*************** COLONNE GAUCHE ***************/

#colonne_gauche {
	background-color: rgba(255,255,255,0.2);
	margin-left: 20px;
	float: left;
	width: 23%;
	color: white;
}
nav {
	
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav ul {
	list-style: none;
	padding-left: 20px;
}
#parametre {
	border-top: solid 2px;
	margin-right: 35px;
	margin-left: 35px;
	margin-top: 20px;
	padding-top: 15px;
}

/*************** COLONNE MILIEU ***************/

#colonne_milieu {
	width: 50%;
	float: left;
	background-color: rgba(255,255,255,0.2);
	margin-left: 20px;
	color: white;
}
#fleche {
	background-color: rgba(255,255,255,0.2);
	width: 100%; 
	height: 20px;
	float: right;
}
#fleche img {
	width: 100%;
	height: 20px;
}
#liste_albums {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}
#album {
	float: left;
}
#album:nth-child(2) {
	margin-left: 17px;
}
#album:nth-child(3) {
	margin-left: 17px;
}
#album:nth-child(5) {
	margin-left: 17px;
}
#album:nth-child(6) {
	margin-left: 17px;
}
#album img {
	width: 200px;
	height: 100px;
}
#album p {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

/***************  COLONNE DROITE  ***************/

#colonne_droite {
	width: 22%;
	margin-left: 20px;
	float: left;
	color: white;
}
#colonne_droite nav {
	background-color: rgba(255,255,255,0.2);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#colonne_droite nav ul {
	list-style: none;
	padding-left: 20px;
}

/***************  COLONNE MILIEU2  ***************/

#colonne_milieu2 {
	float: left;
	width: 1252px;
	background-color: rgba(255,255,255,0.2);
	margin-top: 10px;
	margin-left: 55px; 
}
#fleche2 {
	background-color: rgba(255,255,255,0.2);
	width: 20px;
	height: 100px;
	float: left;
}
#fleche2 img {
	width: 20px;
	height: 100px;
}
#photo {
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	height: 100px;
}
#photo img {
	width: 200px;
	height: 100px;
}

/***************     FOOTER     ***************/

footer {
	clear: both;
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer h3 {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 20px;
	color: #FAF0E6;
}

footer ul {
	padding: 0;
	margin: 0; 
	font-size: 15px;
}

footer ul li {
	float: left;
	text-decoration: underline;
	color: #FAF0E6;
	font-weight: bold;
	margin-left: 200px;
	margin-bottom: 10px;
}
footer ul li:hover {
	color: #FF4500;

}
#youtube {
	margin-left: 400px;
}
footer p {
	clear: both;
	text-align: center;
	color: #FAF0E6;
	margin: 0;
	font-size: 12px;
}
#contact{
	cursor: pointer;
}